cb_data.pq
index.pq
.idea
utils/merge/excel_merge/*,csv
utils/merge/format2basket/*,csv

*.csv
/csv/*
__pycache__/
.DS_Store

/optimization_results
/optuna_search/new_test/optimization_results

.optimizer_pid
*.log